<!DOCTYPE html>
<html ng-app="BogApp">
  <head>
    <title>AngBogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <creatures></creatures>
  </body>
</html>
